@font-face {
    font-family: "Cart";
    src: url("pagedefault.OTF");
}

body
{
    font-family: "Cart";
    background-color: #3D5A6C;
    color: white;
    margin: 0;
    height: 100%;
}

footer
{
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #72A98F;
}

.pfp
{
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: #72A98F; 
    color: white;
    width: fit-content;
    border-radius: 30px;
    padding: 10px;
    padding-top: 20px;
}
#pfpimg
{
    border-radius: 100%;
    transition: 0.5s;
}
#pfpimg:hover
{
    border-radius: 0;
    height: 300px;
    width: 300px;
}

.info
{
    background-color: #72A98F;
    border: solid 1px #3D5A6C;
    width: 95%;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    font-size: 20px;
}